main{
	background-color: #fff;
	padding-top: 200px;
}

.menu__list{
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.menu__button{
	padding: 12px 20px;
	background-color: #F3F3F3;
	border: none;
	border-radius: 10px;
}

.menu__button-accent{
	background-color: #C67C4E;
	color: #fff;
}